/* ############ v0.0.1 ############ */


* {
    font-family: Trebuchet MS;
    box-sizing: border-box;
    font-size: 2rem;
}

body {
    background-color: rgb(80, 80, 80);
}

/* #### Nav bar #### */

.navbar {
    background-color: transparent;
    height: 100px;
    position: sticky;
    align-items: center;
    font-size: 80%;
    top: 0%;
    z-index: 999;
    background-color: #0000;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    color: #171718;
    text-shadow: 2.5px 2.5px 12px #dbe1e8;
    text-decoration: none;
    font-size: 2rem;
    align-items: center;
    padding-right: 2.5%;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #333;
    border-radius: 25px;
}

.navbar__item {
    height: 75px;
    float: center;
}

.navbar__links {
    display: flexbox;
    text-decoration: none;
    padding: 40px 50px;
    color: aliceblue;
    text-shadow: 2.5px 2.5px 3.5px #4e535a;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 25px;
    background: #616581;
    color: aliceblue;
}

.button:hover {
    background: #9093aa;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    text-shadow: 2.5px 2.5px 3.5px #898f97;
    transition: all 0.3s ease;
}

#navbar__logo:hover {
    text-shadow: 2.5px 2.5px 3.5px #88a7cf;
    transition: all 0.3s ease;
}